.chuyenmuc{
  text-align: center ;
  font-size: 30px;
  margin-top: 20px;
  font-family: Verdana;
  font-weight: bold;
  color: #50b848;
}
#gachchan{
  width: 100px;
  margin-top: 20px;
  border-top: 1px solid rgb(0, 0, 0);
}
.ptdtt{
  padding-bottom: 20px;
}
.wpb_color-gree{
  padding: 13px 19px 13px 19px;
  background-color:  #50b848;
  color: white;
}
.h7tttd{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #50b848;
}
#text{
  text-transform: uppercase;
  color: #50b848;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.service-link{
  padding-left: 50px;
  padding-right: 50px;
  border: 30px 30px 30px 30px;

  text-align: center;

}
