<div class="toolbar">
    <div class="d-flex  justify-content-between header-menu ">
      <div class="left-d-flex">
        <div class="d-flex">
            <a class="control" style="width: 80px" routerLink="../albums"  routerLinkActive="active"><span style="font-weight: bold;" class="spann">Kho Ảnh /</span></a>
          <a class="control"  style="width: 120px ;padding-right: 10px;" routerLink="../image-gallery" routerLinkActive="active"  ><span class="spann" style="font-weight: normal;">Ảnh Hoạt Động</span></a>
         
        </div>
      </div>
    </div>
  </div>
  

  <div class="album">
      <div class="d-flex flex-row">
        <div class="item">
          <button routerLink="detail" class="buton">
            <a ><i class="fa fa-folder"></i> Ảnh</a>
             
        
          </button>
        </div>
        <div class="item">
          <button routerLink="detail" class="buton" >
            <a ><i class="fa fa-folder"></i> Ảnh Trình Chiếu</a>
          </button>
        </div>
      </div>
    
  </div>
  