<div class="popup-video-wrapper section-space--pb_120 section-space--pt_90 " style="padding-top: 10px; ">
  <div class="container">
    <div class="col-lg-12">
      <div class="section-title text-center section-space--mb_50" style="margin-bottom: 20px;">
        <h2 style="margin-top: 10px; font-size: 30px;" class="chuyenmuc" >GIỚI THIỆU</h2>
        <hr id="gachchan" class="gioithieu" >
      </div>
    </div>
    <div class="row" style="padding: 20px 40px 40px 40px ; background-color: #f4f4f4;">
      <div class="col-lg-6 video-popup wow move-up">
        <div class="wpb_wrapper" style="padding-left: 15px ; padding-right: 15px;">
          <div class="wdc-heading style-1 text-left">
            <div class="box-content">
              <p style="text-align: justify;"></p><p>
              <span style="color:#5748b8df;">Công ty Cổ phần EcoIT</span>&nbsp;được đăng ký thành lập ngày 29/4/2010 là
              một Công ty tin học chuyên cung cấp phần mềm, dịch vụ, hệ thống và các giải pháp về Công nghệ thông tin được sáng lập và
              lãnh đạo bởi các chuyên gia quản lý, chuyên gia công nghệ có kinh nghiệm lâu năm trong lĩnh vực Công nghệ thông tin có cùng ý tưởng
              đến từ nhiều tổ chức, doanh nghiệp trong các lĩnh vực khác nhau.
            </p><p></p>
            </div>
          </div>
          <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
          <div class="col-xs-12" >
            <div class="service-link"><a id="aa" class="wpb_color-gree" href="/ve-chung-toi/">TÌM HIỂU THÊM</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 video-popup wow move-up animate" style="opacity: 0; visibility: visible; text-align: center;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/cG-zYVv4fVw" title="GIỚI THIỆU CÔNG TY CỔ PHẦN ECOIT"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
