<!-- <form >
  <div class="Popup" >
    <div class="user-dialog">
      <div class="user-content default-bg">
        <div class="user-header">
          <div class="text-center">
            <img src="assets/images/logo2.jpg" style="width: 125px;" alt="logo">
          </div>
          <a routerLink="user" routerLinkActive="active">x</a>
        </div>
        <div class="user-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="options">
                    <div class="title">Họ</div>
                    <input type="text" class="form-control" name="firstName"  placeholder="Họ">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="options">
                    <div class="title">Tên</div>
                    <input type="text" class="form-control" name="lastName"  placeholder="Tên">
                  </div>
                </div>
              </div>

               Username input 
              <div class="options">
                <div class="title">Tài khoản</div>
                <input type="text" name="username"  class="form-control" placeholder="Tài khoản" required>
              </div>

               Email input 
              <div class="options">
                <div class="title">Email</div>
                <input type="email" name="email"  class="form-control" placeholder="Email" required>
              </div>

               Password input 

              <div class="row" *ngIf="id; else elseBlock">
                <div class="col-md-9">
                  <div class="options">
                    <div class="title">Mật khẩu</div>
                    <input type="text" class="form-control" placeholder="Vì lý do bảo mật nên mật khẩu sẽ không hiện" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="options">
                    <div class="title">Đặt lại mật khẩu</div>
                    <button type="button"  class="btn"><i class="far fa-history"></i></button>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="options">
                  <div class="title">Mật khẩu</div>
                  <input type="password" name="password"  class="form-control" placeholder="Mật khẩu" required>
                </div>
              </ng-template>

              <div class="options">
                <div class="title">Vai trò</div>
                <div class="roles-box">
                  <label>
                    <input type="radio" name="roles"  value="admin"> Quản trị viên
                  </label>
                  <label>
                    <input type="radio" name="roles"  value="mod"> Điều hành
                  </label>
                  <label>
                    <input type="radio" name="roles"> Người dùng
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="user-footer">
          <button class="save-btn" type="submit" name="created"><i class="fas fa-save"></i> Lưu</button>
        </div>
      </div>
    
</form> -->

<div class="toolbar">
  <div class="d-flex  justify-content-between header-menu ">
    <div class="left-d-flex">
      <div class="d-flex">
        <h5 class="h5" style="width:auto">Thêm mới</h5>
        
      </div>
    </div>
    <div class="right-d-flex">
      <div class="d-flex  flex-wrap">
        
        <div class="menu-item">
          <a href="admin/user"  class="ht-btn-custom"  >   <span aria-hidden="true" style="font-size: 30px; font-weight: bold; color: black; margin-right: 30px;">&times;</span>
          </a>
         
        </div>
      </div>
    </div>
  </div>
</div>

<form action="">
  <div class="user-content col-lg-12 ">
    <div class="row " style="justify-content: center;">
      <div class="col-md-4">
        <div class="options">
          <div class="title">Họ</div>
          <input type="text" class="form-control" name="firstName"  placeholder="Họ">
        </div>
      </div>
      <div class="col-md-4">
        <div class="options">
          <div class="title">Tên</div>
          <input type="text" class="form-control" name="lastName"  placeholder="Tên">
        </div>
      </div>
      <div class="col-md-8">
        <div class="options">
          <div class="title">Tài khoản</div>
          <input type="text" name="username"  class="form-control" placeholder="Tài khoản" required>
        </div>    
      </div>
      <div class="col-md-8">
             <!-- Email input  -->
        <div class="options">
        <div class="title">Email</div>
        <input type="email" name="email"  class="form-control" placeholder="Email" required>
        </div>
      </div>
      <div class="col-md-8" *ngIf="id; else elseBlock">
        <div class="col-md-6">
          <div class="options">
            <div class="title">Mật khẩu</div>
            <input type="text" class="form-control" placeholder="Vì lý do bảo mật nên mật khẩu sẽ không hiện" disabled>
          </div>
        </div>
        <div class="col-md-2">
          <div class="options">
            <div class="title">Đặt lại mật khẩu</div>
            <button type="button"  class="btn"><i class="far fa-history"></i></button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <ng-template #elseBlock>
          <div class="options col-md-8">
            <div class="title">Mật khẩu</div>
            <input type="password" name="password"  class="form-control" placeholder="Mật khẩu" required>
          </div>
        </ng-template>
      </div>
      <div class="col-md-8">
        <div class="options">
          <div class="title">Vai trò</div>
          <div class="roles-box">
            <label>
              <input type="radio" name="roles"  value="admin"> Quản trị viên
            </label>
            <label>
              <input type="radio" name="roles"  value="mod"> Điều hành
            </label>
            <label>
              <input type="radio" name="roles"> Người dùng
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="text-align: center; padding-top: 30px;">
        <div class="user-footer">
          <button class="save-btn" type="submit" name="created"><i class="fas fa-save"></i> Lưu</button>
        </div>
      </div>

      </div>
    </div>
</form>

