.wpb_color-gree{
  padding: 13px 19px 13px 19px;
  background-color:  #50b848;
  color: white;
}
.imgicon{
  color: black;
  text-align: center;
}
.chuyenmuc{
  text-align: center ;
  font-size: 30px;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #50b848;
}
#gachchan{
  width: 100px;
  margin-top: 20px;
  border-top: 1px solid rgb(0, 0, 0);
}
.col-xs-12{
  text-align: center;
}
.pricing-table__inner{
  padding: 0px 0px 0px 0px;
  width: 100%;

}
.wpb_color-gree{
  padding: 13px 19px 13px 19px;
  background-color:  #50b848;
  color: white;
}
.imgicon{
  color: black;
 
}
.post-item{
  width: 150px;
  height: auto;
}
.ap-xnam{
  color: black;
}

.wp-post-image{
  width: 70%;
  height: 60%;
}

.pricing-table__title{
  letter-spacing: -.4px;
  align-content: center;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
}

.pricing-table__innerrr::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #b4dab9;
  transition: .05s;
  z-index: -1;
}

.pricing-table__innerrr:hover:before {
  width: 70%;
  left: 0;
  right: 0;
}
