
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/ecoit.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/ecoit2.png" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- <div class="breadcrumb-box">
    <img src="" class="imgslide">
    <img src="" >
</div>  -->
<!-- body -->
<!-- khách hàng mục tiêu -->
<div class="site-wrapper-reveal">
  <div class="digital-store-hero-area position-relative section-space--pb_120">
    <div class="container">
      <div class="container-fluid container-fluid--cp-150">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title text-center section-space--mb_50" style="text-align: center;">
              <h2 class="chuyenmuc" >KHÁCH HÀNG MỤC TIÊU</h2>
              <hr id="gachchan">

            </div>
          </div>
        </div>
        <div style="background-color: #39814100; margin: 0 auto; text-align: center; padding-bottom: 0px; "
             class="pricing-table-content-area bg-gray-2 section-space--pb_90">
          <div class="container">
            <div class="row pricing-table-one">
              <!-- chính phủ -->
              <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up">
                <div class="pricing-table__inner">

                  <div class="pricing-table__header">
                    <div class="box-icon" style="background-color: #732dec;">
                      <span><i class="fa fa-bank" style="padding-top: 23px"></i></span> </div>

                  </div>
                  <div class="box-content">
                    <h5 style="letter-spacing: -.4px; align-content: center; color: rgba(50, 50, 50, 1);
                    margin-top: 10px; margin-bottom: 10px;" class="pricing-table__title">KHÁCH HÀNG CHÍNH PHỦ</h5>

                    <div style="vertical-align: inherit; margin-bottom: 60px;">
                      Bao gồm các Bộ, Ban, Ngành và các cơ quan nhà nước khác &nbsp;</div>
                  </div>
                  <div class="pricing-table__footer">
                    <a href="https://ecoit.asia/khach-hang-chinh-phu/" class="quantam" style="font-size: larger;"><b >QUAN TÂM　⇨</b></a>
                  </div>
                </div>
              </div>
              <!-- doanh nghiệp -->
              <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up">
                <div class="pricing-table__inner">
                  <div class="pricing-table__header">
                    <div class="box-icon" style="background-color: #673ab7;">
                      <span><i class="fa fa-slideshare" style="padding-top: 23px"></i></span> </div>
                  </div>
                  <div class="box-content">
                    <h5 style="letter-spacing: -.4px; align-content: center; color: rgba(50, 50, 50, 1);
                    margin-top: 10px; margin-bottom: 10px;" class="pricing-table__title">KHÁCH HÀNG DOANH NGHIỆP</h5>

                    <div style="vertical-align: inherit; margin-bottom: 60px;">
                      Bao gồm các tập đoàn, doanh nghiệp lớn trong và ngoài nước &nbsp; </div>
                  </div>
                  <div class="pricing-table__footer">
                    <a href="https://ecoit.asia/khach-hang-doanh-nghiep/" class="quantam" style="font-size: larger;"><b >QUAN TÂM　⇨</b></a>
                  </div>
                </div>
              </div>
              <!-- tài chính ngân hàng -->
              <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up">
                <div class="pricing-table__inner">

                  <div class="pricing-table__header">
                    <div class="box-icon" style="background-color: #6fbd66;">
                      <span><i class="fa fa-dollar" style="padding-top: 23px"></i></span> </div>
                  </div>
                  <div class="box-content">
                    <h5 style="letter-spacing: -.4px; align-content: center; color: rgba(50, 50, 50, 1); margin-top: 10px; margin-bottom: 10px;" class="pricing-table__title">KHÁCH HÀNG TÀI CHÍNH-NGÂN HÀNG</h5>

                    <div style="vertical-align: inherit; margin-bottom: 60px;">
                      Bao gồm các ngân hàng, công ty tài chính &nbsp; </div>
                  </div>
                  <div class="pricing-table__footer">
                    <a href="https://ecoit.asia/khach-hang-tai-chinh-ngan-hang/" class="quantam" style="font-size: larger;"><b >QUAN TÂM　⇨</b></a>
                  </div>
                </div>
              </div>
              <!-- AN ninh quốc phòng  -->
              <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up">
                <div class="pricing-table__inner">

                  <div class="pricing-table__header">
                    <div class="box-icon" style="background-color: #bd9366;">
                      <span><i class="fa fa-shield" style="padding-top: 23px"></i></span> </div>

                  </div>
                  <div class="box-content">
                    <h5 style="letter-spacing: -.4px; align-content: center; color: rgba(50, 50, 50, 1); margin-top: 10px; margin-bottom: 10px;" class="pricing-table__title">KHÁCH HÀNG AN NINH - QUỐC PHÒNG</h5>

                    <div  style="vertical-align: inherit;">
                      Bao gồm các cơ quan, đơn vị thuộc Bộ Công An và Bộ Quốc Phòng &nbsp;</div>
                  </div>
                  <div class="pricing-table__footer">
                    <a href="https://ecoit.asia/khach-hang-an-ninh-quoc-phong/" class="quantam" style="font-size: larger;"><b >QUAN TÂM　⇨</b></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="wavify-wrapper">
      <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs></defs>
      </svg>
    </div>
  </div>
</div>

<!--__--__-_ giới thiệu ----___--->
<div class="popup-video-wrapper section-space--pb_120 section-space--pt_90 " style="padding-top: 10px; ">
  <div class="container">
    <div class="col-lg-12">
      <div class="section-title text-center section-space--mb_50" style="margin-bottom: 20px;">
        <h2 style="margin-top: 10px; font-size: 30px;" class="chuyenmuc" >GIỚI THIỆU</h2>
        <hr id="gachchan" class="gioithieu" >
      </div>
    </div>
    <div class="row" style="padding: 20px 40px 40px 40px ; background-color: #f4f4f4;">
      <div class="col-lg-6 video-popup wow move-up">
        <div class="wpb_wrapper" style="padding-left: 15px ; padding-right: 15px;">
          <div class="wdc-heading style-1 text-left">
            <div class="box-content">
              <p style="text-align: justify;"></p><p>
              <span style="color:#5748b8df;">Công ty Cổ phần EcoIT</span>&nbsp;được đăng ký thành lập ngày 29/4/2010 là
              một Công ty tin học chuyên cung cấp phần mềm, dịch vụ, hệ thống và các giải pháp về Công nghệ thông tin được sáng lập và
              lãnh đạo bởi các chuyên gia quản lý, chuyên gia công nghệ có kinh nghiệm lâu năm trong lĩnh vực Công nghệ thông tin có cùng ý tưởng
              lãnh đạo bởi các chuyên gia quản lý, chuyên gia công nghệ có kinh nghiệm lâu năm trong lĩnh vực Công nghệ thông tin có cùng ý tưởng
              đến từ nhiều tổ chức, doanh nghiệp trong các lĩnh vực khác nhau.
            </p><p></p>
            </div>
          </div>
          <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
          <div class="col-xs-12" >
            <div class="service-link"><a id="aa" class="wpb_color-gree" href="https://ecoit.asia/ve-chung-toi/">TÌM HIỂU THÊM</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 video-popup wow move-up animate" style="opacity: 0; visibility: visible; text-align: center;">
        <a href="https://www.youtube.com/embed/cG-zYVv4fVw?feature=oembed" class="video-link  mt-30">
          <div class="single-popup-wrap">
            <img class="img-fluid" src="https://ecoit.asia/wp-content/themes/ecoitTheme/image/logoEcoit.jpg" alt="">
            <div class="ht-popup-video video-button video-overlay">
              <div class="video-mark">
                <div class="wave-pulse wave-pulse-1"></div>
                <div class="wave-pulse wave-pulse-2"></div>
              </div>
              <div class="video-button__five">
                <div class="video-play">
                  <span class="video-play-icon"></span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--========== SẢN PHẨM CHIẾN LƯỢC =======-->
<div class="preview-item-area section-space--pb_120" id="section-demos" style="padding-bottom: 50px;">
  <div class="container-fluid container-fluid--cp-150">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center section-space--mb_50">
          <h2 style="margin-top: 10px; font-size: 30px;" class="chuyenmuc" >SẢN PHẨM CHIẾN LƯỢC</h2>
          <hr id="gachchan" class="gioithieu">
        </div>
      </div>
    </div>
    <div style="background-color: #ffffff04; margin: 0 auto; text-align: center; padding-bottom: 0px; " class="pricing-table-content-area bg-gray-2 section-space--pb_90">
      <div class="container">
        <div class="row pricing-table-one" >
          <!-- 1 -->
          <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up" style="background-color: rgba(189, 191, 187, 0);">
            <div class="pricing-table__innerrr" >
              <div class="post-item" >
                <a href="/eco-ecm/" style="text-align: center;">
                  <div class="imgicon">
                    <img  src="https://ecoit.asia/wp-content/uploads/2019/08/ECM-01-250x200.png" class="large wp-post-image" alt="" loading="lazy"><br><b>EcoECM</b>
                    <span class="ap-xnam"><p>Phần mềm quản lý tài liệu</p>
                                        </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- 2 -->
          <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up" style=" height: max-content ;background-color: rgba(189, 191, 187, 0);">
            <div class="pricing-table__innerrr" >
              <div class="post-item">
                <a href="/eco-invoice/">
                  <div class="imgicon">
                    <img  src="https://ecoit.asia/wp-content/uploads/2020/11/kisspng-computer-icons-invoice-receipt-commerce-portfolio-5ac9a4a2354d51.3098672615231643222183-250x200.png"
                          class="large wp-post-image" alt="" loading="lazy" ><br><b>ECO-INVOICE</b>
                    <span class="ap-xnam"><p>Phần mềm hóa đơn điện tử ECO –  Invoice</p>
                                        </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- 3 -->
          <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up" style="background-color: rgba(189, 191, 187, 0);">
            <div class="pricing-table__innerrr" >
              <div class="post-item">
                <a href="/eco-ocr/">
                  <div class="imgicon">
                    <img  src="https://ecoit.asia/wp-content/uploads/2019/08/OCR-250x200.png" class="large wp-post-image" alt="" loading="lazy"><br><b>EcoOCR</b>
                    <span class="ap-xnam"><p>Phần mềm nhận dạng, bóc tách văn bản tiếng Việt</p>
                                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- 4  -->
          <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up" style="background-color: rgba(189, 191, 187, 0);">
            <div class="pricing-table__innerrr" >
              <div class="post-item">
                <a href="/eco-portal/">
                  <div class="imgicon">
                    <img  src="https://ecoit.asia/wp-content/uploads/2019/08/PORTAL-01-250x200.png" class="large wp-post-image" alt="" loading="lazy"><br><b>EcoPORTAL</b>
                    <span class="ap-xnam"><p>Hệ thống cổng thông tin điện tử tích hợp</p>
                                   </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- 5 -->
          <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up" style="background-color: rgba(189, 191, 187, 0);">
            <div class="pricing-table__innerrr" >
              <div class="post-item">
                <a href="/eco-gov/">
                  <div class="imgicon">
                    <img  src="https://ecoit.asia/wp-content/uploads/2017/08/GOV-01-250x200.png" class="large wp-post-image" alt="" loading="lazy"><br><b>EcoGOV</b>
                    <span class="ap-xnam"><p>Hệ thống dịch vụ công trực tuyến</p>
                                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- 6 -->
          <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up" style="background-color: rgba(189, 191, 187, 0);">
            <div class="pricing-table__innerrr" >
              <div class="post-item">
                <a href="/eco-mail/">
                  <div class="imgicon">
                    <img  src="https://ecoit.asia/wp-content/uploads/2019/08/MAIL-01-250x200.png" class="large wp-post-image" alt="" loading="lazy"><br><b>EcoMAIL</b>
                    <span class="ap-xnam"><p>Hệ thống thư điện tử dung lượng lớn</p>
                                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- 7 -->
          <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table--popular  wow move-up" style="background-color: rgba(189, 191, 187, 0);">
            <div class="pricing-table__innerrr" >
              <div class="post-item">
                <a href="/eco-office/">
                  <div class="imgicon">
                    <img  src="https://ecoit.asia/wp-content/uploads/2019/08/OFFICE-01-250x200.png" class="large wp-post-image" alt="" loading="lazy"><br><b>EcoOFFICE</b>
                    <span class="ap-xnam"><p>Hệ thống quản lý công văn và điều hành tác nghiệp</p>
                                    </span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12" >
      <div class="service-link"><a id="aa" class="wpb_color-gree" href="https://ecoit.asia/lien-he/">ĐĂNG KÝ TƯ VẤN</a></div>
    </div>
  </div>
</div>
<!-- ========= NHỮNG con số tiêu biểu -->
<div class="preview-item-area section-space--pb_120" id="section-demos" style=" padding-bottom: 50px; background-color: #358f47;">
  <div class="container-fluid container-fluid--cp-150">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center section-space--mb_50">
          <h2 style="margin-top: 30px; font-size: 30px; color: white;" class="chuyenmuc" >NHỮNG CON SỐ TIÊU BIỂU</h2>
          <hr id="gachchan" class="gioithieu" style="border-color: white;">
        </div>
      </div>
    </div>
    <div style=" color: white;background-color: #ffffff00; margin: 0 auto; text-align: center; padding-bottom: 0px; " class="pricing-table-content-area bg-gray-2 section-space--pb_90">
      <div class="container">
        <div class="container">
          <div class="">
            <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-12" id="cott">
              <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                  <div class="wdc-counter style-icon icon-top">
                    <div class="box-icon"><span><i class="fa fa-users"><br></i></span></div>
                    <div class="box-inner">
                      <div class="counter-number" data-to="+100000" style="text-align: center;">+100000</div>
                      <h4 class="chuyenmucso">Người Dùng</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-12" id="cott">
              <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                  <div class="wdc-counter style-icon icon-top">
                    <div class="box-icon"><span><i class="fa fa-laptop"></i></span></div>
                    <div class="box-inner">
                      <div class="counter-number" data-to="+10">+10</div>
                      <h4 class="chuyenmucso">Năm Kinh Nghiệm</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-12" id="cott">
              <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                  <div class="wdc-counter style-icon icon-top">
                    <div class="box-icon"><span><i class="fa fa-book"></i></span></div>
                    <div class="box-inner">
                      <div class="counter-number" data-to="+150">+150</div>
                      <h4 class="chuyenmucso">Dự Án Đã Hoàn Thành</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-12" id="cott">
              <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                  <div class="wdc-counter style-icon icon-top">
                    <div class="box-icon"><span><i class="fa fa-user"></i></span></div>
                    <div class="box-inner">
                      <div class="counter-number" data-to="+50">+50</div>
                      <h4 class="chuyenmucso">Cán Bộ Nhân Viên</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- =====HÌNH ảnh hoạt động -->
<div class="container" style="padding-bottom: 20px;">
  <div class="section-title text-center section-space--mb_50">
    <h2 style="margin-top: 30px; font-size: 30px;" class="chuyenmuc" >HÌNH ẢNH HOẠT ĐỘNG</h2>
    <hr id="gachchan" class="gioithieu">
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li> -->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <!-- <div class="item " [ngClass]="key == 0 ? 'active' : '' " *ngFor="let s of spcl ; let key = index">
        <img width="1163" height="774" src="{{s}}"
         class="fuild-img wp-post-image" alt="" loading="lazy" sizes="(max-width: 1276px) 100vw, 1276px">
      </div> -->

      <!-- 1 -->
      <div class="item active">
        <img width="1163" height="774" src="https://ecoit.asia/wp-content/uploads/2020/06/ac94e72749ffb4a1edee.jpg"
             class="fuild-img wp-post-image" alt="" loading="lazy"
             sizes="(max-width: 1276px) 100vw, 1276px">
        <div class="carousel-caption">
          <div></div>
        </div>
      </div>
      <!-- 2 -->
      <div class="item">
        <img width="1163" height="774" src="https://ecoit.asia/wp-content/uploads/2020/06/65e6aa534a29b777ee38.jpg"
             class="fuild-img wp-post-image" alt="" loading="lazy"
             sizes="(max-width: 603px) 100vw, 603px">
        <div class="carousel-caption">
          <div></div>
        </div>
      </div>
      <!-- 3 -->
      <div class="item">
        <img width="1163" height="774" src="https://ecoit.asia/wp-content/uploads/2020/06/9de89d7f7d05805bd9142-1.jpg"
             class="fuild-img wp-post-image" alt="" loading="lazy"
             sizes="(max-width: 603px) 100vw, 603px">
        <div class="carousel-caption">
          <div></div>
        </div>
      </div>
      <!-- 4 -->
      <div class="item">
        <img width="1163" height="774" src="https://ecoit.asia/wp-content/uploads/2019/08/D09_9989-min-min.jpg"
             class="fuild-img wp-post-image" alt="" loading="lazy"
             sizes="(max-width: 5760px) 100vw, 5760px">
        <div class="carousel-caption">
          <div></div>
        </div>
      </div>
      <!-- 5 -->
      <div class="item">
        <img width="1163" height="774" src="https://ecoit.asia/wp-content/uploads/2019/08/5D3_7794-min.jpg"
             class="fuild-img wp-post-image" alt="" loading="lazy"
             sizes="(max-width: 4000px) 100vw, 4000px">
        <div class="carousel-caption">
          <div></div>
        </div>
      </div>
      <!-- 6 -->
      <div class="item">
        <img width="1163" height="774" src="https://ecoit.asia/wp-content/uploads/2019/08/D09_9935-min.jpg"
             class="fuild-img wp-post-image" alt="" loading="lazy"
             sizes="(max-width: 5760px) 100vw, 5760px">
        <div class="carousel-caption">
          <div></div>
        </div>
      </div>
      <!-- 7 -->
      <div class="item">
        <img width="1163" height="774" src="https://ecoit.asia/wp-content/uploads/2019/08/ANH-CTY.jpg"
             class="fuild-img wp-post-image" alt="" loading="lazy"
             sizes="(max-width: 1163px) 100vw, 1163px">
        <div class="carousel-caption">
          <div></div>
        </div>
      </div>
    </div>

    <!-- trái phải -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- ===Tin tức - tuyển dụng -->
<div class="preview-staps-way" id="tdttt">
  <div class="payment-staps-way-wrap section-space--pb_120">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" style=" padding-top: 10px;" >
          <div class="section-title text section-title section-space--mb_60 wow move-up ">
            <div class="section-title text-center section-space--mb_50 ">
              <h2 class="chuyenmuc" style="text-align: center;">TUYỂN DỤNG - TIN TỨC</h2>
              <hr id="gachchan" class="gioithieu">
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 0px; padding: 0px 30px 0px 30px;">
        <div class="col-lg-12">
          <div class="payment-process-step__one wow move-up">
            <div class="row align-items-center">
              <div class="col-lg-7 col-md-12" >
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 40px;">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" >
                    <!-- -->
                    <div class="item active" >
                      <img style="font-weight: 400; width: 100%; height: 250px;" src="https://ecoit.asia/wp-content/uploads/2020/05/images.jpg" class="mr-3 blog-thumbnail img-thumbnail wp-post-image" alt="" loading="lazy">
                      <div class="carousel-caption">
                        <div></div>
                      </div>
                      <div class="blog-innerr" style="background-color: #ffffff; padding: 5px 5px 5px 5px;" >
                        <h6 class="post-title" >
                          <a href="https://ecoit.asia/ecoit-tuyen-dung-nhan-vien-kinh-doanh-4-2021/" tabindex="-1" class="h7tttd">ECOIT TUYỂN DỤNG NHÂN VIÊN KINH DOANH</a>
                        </h6>
                        <div class="post-excerpt" >
                          <p class="ptdtt">1. MÔ TẢ CÔNG VIỆC&nbsp; – Tư vấn cho khách hàng về các dự án CNTT/ phần mềm mảng Ngân hàng/Chính Phủ/Doanh nghiệp…. đảm bảo đạt được các mục tiêu về kinh doanh. – Tư vấn, tìm hiểu nhu cầu…</p>
                        </div>
                      </div>
                    </div>
                    <!--  -->
                    <div class="item" >
                      <img style="font-weight: 400; width: 100%; height: 250px;" src="https://ecoit.asia/wp-content/uploads/2021/07/TKPM.png" class="mr-3 blog-thumbnail img-thumbnail wp-post-image" alt="" loading="lazy">
                      <div class="carousel-caption">
                        <div></div>
                      </div>
                      <div class="blog-innerr" style="background-color: #ffffff; padding: 5px 5px 5px 5px;" >
                        <h6 class="post-title" >
                          <a href="https://ecoit.asia/tuyen-dung-nhan-vien-trien-khai-phan-mem/" tabindex="-1" class="h7tttd">TUYỂN DỤNG NHÂN VIÊN TRIỂN KHAI PHẦN MỀM</a>
                        </h6>
                        <div class="post-excerpt" >
                          <p class="ptdtt">ECOIT tìm kiếm 01 ứng viên vị trí nhân viên triển khai phần mềm với mức đãi ngộ hấp dẫn.</p></div>
                      </div>
                    </div>
                    <!--  -->
                    <div class="item" >
                      <img style="font-weight: 400; width:100%; height: 250px;" src="https://ecoit.asia/wp-content/uploads/2020/05/hinh-anh-ve-tuyen-dung_012647551-600x250.png" class="mr-3 blog-thumbnail img-thumbnail wp-post-image" alt="" loading="lazy">
                      <div class="carousel-caption">
                        <div></div>
                      </div>
                      <div class="blog-innerr" style="background-color: #ffffff; padding: 5px 5px 5px 5px;" >
                        <h6 class="post-title" >
                          <a href="https://ecoit.asia/ecoit-tuyen-dung-vi-tri-giam-doc-dieu-hanh-4-2021/" tabindex="-1" class="h7tttd">ECOIT TUYỂN DỤNG VỊ TRÍ GIÁM ĐỐC ĐIỀU HÀNH – URGENT</a>
                        </h6>
                        <div class="post-excerpt" >
                          <p class="ptdtt">1.MÔ TẢ CÔNG VIỆC – Định hướng chiến lược, xây dựng kế hoạch phát triển chung cho toàn Công ty. – Đề xuất hướng phát triển, mục tiêu và chiến lược. – Điều hành hoạt động Công ty. – Xây…
                          </p>
                        </div>
                      </div>
                    </div>
                    <!--  -->
                  </div>
                </div>

                <div class="col-xs-12" >
                  <div class="service-link"><a id="aa" class="wpb_color-gree" href="https://ecoit.asia/tuyen-dung/">TÌM HIỂU THÊM</a></div>
                </div>
              </div>
              <div class="col-lg-5 col-md-12" >
                <div class="nav">
                  <div class="payment-process-step__content float-md-left">
                    <div class="payment-process__inner">
                      <li>
                        <div class="disp-inflex" style="padding-top: 2px">
                          <div class="anhtintuc post-thumb" style="float: left;width: 30%;">
                            <a href="https://ecoit.asia/chuc-mung-ngay-doanh-nhan-viet-nam/" title="CHÚC MỪNG NGÀY DOANH NHÂN VIỆT NAM">
                              <img width="250" height="194" src="https://ecoit.asia/wp-content/uploads/2022/10/333-250x194.jpg" class="mr-3 post-smaill img-thumbnail wp-post-image" alt="" loading="lazy"></a>
                          </div>
                          <div class="blog-inner" style="display: inline-block;width: 70%;">
                            <a href="https://ecoit.asia/chuc-mung-ngay-doanh-nhan-viet-nam/" id="text">CHÚC MỪNG NGÀY DOANH NHÂN VIỆT NAM</a>
                            <p>Nhân dịp 18 năm ngày Doanh nhân Việt Nam 13/10/2022, Công ty Cổ phần EcoIT xin được gửi lời chúc mừng tốt đẹp nhất tới tất cả Doanh nhân Việt…</p>
                          </div>
                        </div>
                        <hr >

                      <li>
                        <div class="disp-inflex" style="padding-top: 2px">
                          <div class="anhtintuc post-thumb" style="float: left;width: 30%;">
                            <a href="https://ecoit.asia/cua-lo-doan-ket-yeu-thuong-va-gan-bo/" title="CỬA LÒ – ĐOÀN KẾT, YÊU THƯƠNG VÀ GẮN BÓ">
                              <img width="250" height="200" src="https://ecoit.asia/wp-content/uploads/2022/07/Background1-250x200.jpg" class="mr-3 post-smaill img-thumbnail wp-post-image" alt="" loading="lazy"></a>
                          </div>
                          <div class="blog-inner" style="display: inline-block;width: 70%;">
                            <a href="https://ecoit.asia/cua-lo-doan-ket-yeu-thuong-va-gan-bo/" id="text">CỬA LÒ – ĐOÀN KẾT, YÊU THƯƠNG VÀ GẮN BÓ</a>
                            <p>Gác lại những ngày nắng nóng oi ả của mùa hè, để hạ nhiệt cho anh/chị/em Cán bộ nhân viên cũng như tạo nên không khí vui tươi, giải toả…</p>
                          </div>
                        </div>
                        <hr >
                      </li>
                      <li>
                        <div class="disp-inflex" style="padding-top: 2px">
                          <div class="anhtintuc post-thumb" style="float: left;width: 30%;">
                            <a href="https://ecoit.asia/ecoit-ky-thoa-thuan-hop-tac-trien-khai-dich-vu-luu-tru-so-hoa-du-lieu-trong-he-thong-cua-trung-tam-du-lieu-quoc-gia-ve-dan-cu/" title="EcoIT ký thoả thuận hợp tác triển khai dịch vụ lưu trữ, số hoá dữ liệu trong hệ thống của Trung tâm Dữ liệu Quốc gia về dân cư">
                              <img width="250" height="200" src="https://ecoit.asia/wp-content/uploads/2021/12/Tong-Giam-Doc-Nguyen-Dinh-Hai-Cong-ty-Co-phan-EcoIT-ky-thoa-thuan-hop-tac-250x200.jpg" class="mr-3 post-smaill img-thumbnail wp-post-image" alt="" loading="lazy">                                  </a>
                          </div>
                          <div class="blog-inner" style="display: inline-block;width: 70%;">
                            <a href="https://ecoit.asia/ecoit-ky-thoa-thuan-hop-tac-trien-khai-dich-vu-luu-tru-so-hoa-du-lieu-trong-he-thong-cua-trung-tam-du-lieu-quoc-gia-ve-dan-cu/" id="text">EcoIT ký thoả thuận hợp tác triển khai dịch vụ lưu trữ, số hoá dữ liệu trong hệ thống của Trung tâm Dữ liệu Quốc gia về dân cư</a>
                            <p>Chiều 1/12, tại Hà Nội, ECOIT tham gia ký kết hợp tác với Trung tâm nghiên cứu, ứng dụng dữ liệu dân cư và căn cước công dân (thuộc Trung…</p>
                          </div>
                        </div>
                        <hr>
                      </li>
                      <div class="payment-process-btn mb-30" style="margin: 20px 0 20px 0px;">
                        <div class="col-xs-12" >
                          <div class="service-link"><a id="aa" class="wpb_color-gree" href="https://ecoit.asia/tin-tuc/">TÌM HIỂU THÊM</a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==== khách hàng tiêu biểu-->
<div class="flexiable-slider-wrapper section-space--mt_60" style="margin-top: 0px; padding-bottom: 30px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center section-space--mb_60 wow move-up ">
          <div class="section-title text-center section-space--mb_50">
            <h2 class="chuyenmuc" >KHÁCH HÀNG TIÊU BIỂU</h2>
            <hr id="gachchan" class="gioithieu">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 wow move-up">
        <div class="flexible-image-slider-wrap">
          <div class="swiper-container auto--per-flexible__container__aegency">
            <div class="swiper-wrapper auto-plexible-row">
              <div class="swiper-slide">
                <!-- Single flexible slider Start -->
                <div class="single--slider">
                  <img class="img-fluid" src="https://ecoit.asia/wp-content/uploads/2019/08/quanlithitrg.jpg" alt="">
                </div>
                <!-- Single flexible slider End -->
              </div>
              <div class="swiper-slide">
                <!-- Single flexible slider Start -->
                <div class="single--slider">
                  <img class="img-fluid" src="https://ecoit.asia/wp-content/uploads/2019/08/quochuy.jpg" alt="">
                </div>
                <!-- Single flexible slider End -->
              </div>
              <div class="swiper-slide">
                <!-- Single flexible slider Start -->
                <div class="single--slider">
                  <img class="img-fluid" src="https://ecoit.asia/wp-content/uploads/2019/08/tainguyenmoitrg.jpg" alt="">
                </div>
                <!-- Single flexible slider End -->
              </div>
              <div class="swiper-slide">
                <!-- Single flexible slider Start -->
                <div class="single--slider">
                  <img class="img-fluid" src="https://ecoit.asia/wp-content/uploads/2019/08/thanhtra.jpg" alt="">
                </div>
                <!-- Single flexible slider End -->
              </div>
              <div class="swiper-slide">
                <!-- Single flexible slider Start -->
                <div class="single--slider">
                  <img class="img-fluid" src="https://ecoit.asia/wp-content/uploads/2019/08/truyenthonghn.jpg" alt="">
                </div>
                <!-- Single flexible slider End -->
              </div>
              <div class="swiper-slide">
                <!-- Single flexible slider Start -->
                <div class="single--slider">
                  <img class="img-fluid" src="https://ecoit.asia/wp-content/uploads/2019/08/thanhtra.jpg" alt="">
                </div>
                <!-- Single flexible slider End -->
              </div>
              <div class="swiper-slide">
                <!-- Single flexible slider Start -->
                <div class="single--slider">
                  <img class="img-fluid" src="https://ecoit.asia/wp-content/uploads/2019/08/viettel.jpg" alt="">
                </div>
                <!-- Single flexible slider End -->
              </div>
              <div class="swiper-slide">
                <!-- Single flexible slider Start -->
                <div class="single--slider">
                  <img class="img-fluid" src="https://ecoit.asia/wp-content/uploads/2019/08/vpbank.jpg" alt="">
                </div>
                <!-- Single flexible slider End -->
              </div>
              <div class="swiper-slide">
                <!-- Single flexible slider Start -->
                <div class="single--slider">
                  <img class="img-fluid" src="https://ecoit.asia/wp-content/uploads/2019/08/tainguyenmoitrg.jpg" alt="">
                </div>
                <!-- Single flexible slider End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->
<!--====================  scroll top ====================-->
<!-- <a href="#" class="scroll-top" id="scroll-top" style="background-color: #358f47;">
    <i class=" "></i>
    <i class="arrow-top fab fa-facebook-messenger" style="font-size: 36px;"></i>
    <i class="arrow-bottom fab fa-facebook-messenger " style="font-size: 36px;"></i>
</a> -->
<!--====================  End of scroll top  ====================-->

<!-- footer -->
