<div class="toolbar">
  <div class="d-flex  justify-content-between header-menu ">
    <div class="left-d-flex">
      <div class="d-flex">
        <a style="width: 80px ; margin-top: 5px;" routerLink="../news"  routerLinkActive="active"><span  class="spann tt">Tin tức</span></a> <span style=" font-weight: bolder;font-size: 25px;height: 40px">|</span>
        <a style="width: 120px" routerLink="../recruit" routerLinkActive="active"  ><span  class="spann td">Tuyển dụng</span></a>
        <form (ngSubmit)="searchTitleAndDescription()">
          <input type="text" [(ngModel)]="searchInput" name="searchInput" placeholder="Viết gì đó ...">
          <div class="input-group-append inputt" >
            <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
          </div>
        </form>

      </div>
    </div>
    <div class="right-d-flex">
      <div class="d-flex  flex-wrap">
        <div class="menu-item ">
          <div class="d-flex">
            <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
            <select (change)="handlePageSizeChange($event)" class="custom-select">
              <option *ngFor="let size of pageSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
        <div class="menu-item">
          <!--          (click)="addTypicalNum()"-->
          <a class="ht-btn-custom" routerLink="add"  title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
        </div>

      </div>
    </div>

  </div>
</div>



<div class="d-flex flex-column ">
  <div class="container">
    <div class="item-blog">
      <div class="row">
        <div class="col-lg-12" *ngFor="let news of newsList| paginate : {itemsPerPage: pageSize,currentPage: page, totalItems: count};let i = index">
          <div class="card">
            <div class="card-header">
              <div class="row ">
                <div class="col-md-2">
                  <div class="product-thumb-image">
                    <img style="width: 100%; height: 90px" src="{{news.newsImage.pathUrl}}" alt="News Image">
                  </div>

                </div>
                <div class="col-md-7">
                  <p>
                    {{news.description}}
                  </p>
                </div>
                <div class="col-md-2">
                    {{news.date}}
                </div>
                <div class="action-box ">
                  <!--                 ví dụ về button sửa-->
                  <button (click)="updateNews(news.id)"  style="background-color: #50b848" class="btnn"  ><i class="far fa-pen"></i> </button>

                  <button *ngIf="role.includes('ROLE_ADMIN')" (click)="deleteNews(news.id)"  style="background-color: red" class="btnn" ><i class="far fa-times"></i> </button>
                </div>
              </div>
              <h5 class="tittle-blog">
                <a class="btn-link">{{news.title}}
                  <span>
                    <i class="fas fa-plus-circle"></i>
                    <i class="fas fa-minus-circle"></i>
                  </span>
                </a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <pagination-controls
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

