.toolbar{
  height: 65px;
  background-color: white;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.13);
  border-top: 1px solid #eff2f5;
}
.header-menu{
  padding: 10px 15px 0px 12px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.spann{
  color: #333333;
  font-size: 15px;
}
.spann:hover{
  font-weight: bolder;
  font-size: 20px;
  color: black;
}
.menu-item{
  padding-left: 20px;
  margin-top: 8px;
}
.custom-select{
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.item-blog{
  margin-top: 30px;
}
.form-control{
  height: 30px;
  font-size: 15px;
  margin-top:7px;
}
.inputt{
  margin-left: 0px;
  height: 30px;
  margin-top:7px;
}
.action-box {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  color: #fff;
}
.btnn{
  border: 0px;
  width: 50px;
  height: 100px;
}
.tittle-blog{
  font-family: Rubik;
}

/*-------------------------------------------------------------*/
a.btn-link{
  width: 100%;
  text-align: left;
  color: #6d70a6;
  position: relative;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}
a.btn-link span {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}

a.btn-link span:hover, a.btn-link span:focus{
  text-decoration: none;
  color: #5945e6;
}

a{
  color: black;
}
a:hover{
  text-decoration: none;
}