<div class="toolbar">
  <div class="d-flex  justify-content-between header-menu ">
    <div class="left-d-flex">
      <div class="d-flex">
        <h5 class="h5">Blog</h5>
        <input type="text " class="form-control "  placeholder="Viết gì đó ...">
        <div class="input-group-append inputt" >
          <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="right-d-flex">
      <div class="d-flex  flex-wrap">
        <div class="menu-item ">
          <div class="d-flex">
            <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
            <select class="custom-select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
        </div>
        <div class="menu-item">
          <a class="ht-btn-custom" routerLink="new"  title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
        </div>

      </div>
    </div>

  </div>
</div>



<div class="d-flex flex-column ">
  <div class="container">
    <div class="item-blog">
      <div class="row">
        <div class="col-lg-12" >
          <div class="card">
            <div class="card-header">
              <div class="row ">
                <div class="col-md-2">
                  <img style="width: 100%; height: 90px" src="./assets/images/placeholder.png" alt="">
                </div>
                <div class="col-md-7">
                  <p>
                    Trong bối cảnh cuộc cách mạng khoa học công nghệ 4.0 đang diễn ra đã tác động nhiều
                    lên ngành bán lẻ.
                  </p>
                </div>
                <div class="col-md-2">
                  01-01-2023
                </div>
                <div class="action-box ">
                    <!--                 ví dụ về button sửa-->
                    <button   style="background-color: #50b848" class="btnn"  ><i class="far fa-pen"></i> </button>

                    <button  style="background-color: red" class="btnn" ><i class="far fa-times"></i> </button>
                </div>
              </div>
              <h5 class="tittle-blog">
                <a class="btn-link">Tiêu đề blog
                  <span>
                    <i class="fas fa-plus-circle"></i>
                    <i class="fas fa-minus-circle"></i>
                  </span>
                </a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-lg-12">

        </div>
      </div>
    </div>
  </div>
</div>
