#aa{
    background-color: #50b848;
  }
#gachchan.gioithieu{
    width: 100px;
    margin-top: 20px; 
    border-top: 1px solid #50b848;;
  }
.chuyenmuc{
    color: #50b848;
    font-weight: bold;
  }
  .wpb_color-gree{
    padding: 13px 19px 13px 19px;
    background-color:  #50b848;
    color: white;
}
.col-xs-12{
    text-align: center;
}




.pricing-table__innerrr::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  width: 0;
  height: 100%;
  background-color: #b4dab9;
  transition: .05s;
  z-index: -1;
}

.pricing-table__innerrr:hover:before {
  width: 100%;
  left: 0;
  right: 0;
} 
.col-xs-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    
}
