.chuyenmuc{
    text-align: center ;
    font-size: 30px;
    margin-top: 20px;
    font-family: Verdana;
    font-weight: bold;
    color: #50b848;
}
  #gachchan{
    width: 100px;
    margin-top: 20px;
    border-top: 1px solid rgb(0, 0, 0);
}
/*  */
.iconn{
    font-size: 25px;
    color: aliceblue;
}
.pricing-table__inner{
    padding: 0px 0px 0px 0px;
    width: 100%;

}
.pricing-table__title{
    letter-spacing: -.4px;
    align-content: center;
    color: rgb(0, 0, 0);
     margin-top: 10px;
     margin-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
}
/* spcl */
.imgicon{
    color: black;
}
.ap-xnam{
    color: black;
}
.wpb_color-gree{
    padding: 13px 19px 13px 19px;
    background-color:  #50b848;
    color: white;
}
.col-xs-12{
    text-align: center;
}
.box-icon{
    font-size: 30px;
}
.counter-number{
    text-align: center;
    font-size: 25px;
}
.chuyenmucso{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
/* spcl */


.pricing-table__innerrr::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #b4dab9;
  transition: .05s;
  z-index: -1;
}

.pricing-table__innerrr:hover:before {
  width: 100%;
  left: 0;
  right: 0;
}
.col-xs-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;

}
.service-link{
    padding-left: 50px;
    padding-right: 50px;
    border: 30px 30px 30px 30px;

    text-align: center;

}

/* tttd */
#text{
    text-transform: uppercase;
    color: #50b848;
    font-weight: bold;
    font-family: Verdana;
}
@media (min-width: 768px){
    .col-sm-6{
        width: 50%;
        float: left;
    }
}

.h7tttd{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #50b848;
}
.ptdtt{
    padding-bottom: 20px;
}

.img-fluid{
  padding-right: 50px;
}


