<app-header></app-header>
<app-slider-list></app-slider-list>

<!-- khách hàng mục tiêu -->
<app-customer-list></app-customer-list>
<!--__--__-_ giới thiệu ----___--->
<app-about-home></app-about-home>
<!--========== SẢN PHẨM CHIẾN LƯỢC =======-->
<app-product-list></app-product-list>
<!-- ========= NHỮNG con số tiêu biểu -->>
<app-number-home></app-number-home>
<!-- =====HÌNH ảnh hoạt động -->
<app-gallery-home></app-gallery-home>

<!-- ===Tin tức - tuyển dụng -->
<app-recruit-news></app-recruit-news>

<!-- ==== khách hàng tiêu biểu-->
<app-cus-typical-home></app-cus-typical-home>


<app-footer></app-footer>
