<form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="update_box">
            <span><strong>Ảnh bìa</strong></span>
            <div class="image">
              <img  src="{{url}}" alt="" appHideMissing>
            </div>
            <input type="file" value="select" (change)="imageChange($event)">
          </div>
          <div class="update_box">
            <span><strong>Tên</strong></span>
            <input type="text" [(ngModel)]="products.name"  name="name">
          </div>
          <div class="update_box">
            <span><strong>Mô tả</strong></span>
            <textarea style="height: 120px" [(ngModel)] = "products.description" name="description"></textarea>
          </div>
          <div class="submit-button">
            <button type="submit" class="btn btn-primary btn-lg btnn">Lưu</button>
            <button type="button" class="btn btn-secondary btn-lg btnn cancel"  (click)="backToProductList()">Hủy</button>
          </div>
        </div>
        <div class="col-lg-8">

          <div class="update_box">
            <span><strong>Nội dung</strong></span>
            <div class="ckeditorContaniner" id="editor">
  <!--            <ckeditor [editor]="Editor"  [data]="new.content"></ckeditor>-->
              <ckeditor [(ngModel)]="products.content" [ngModelOptions]="{standalone: true}" [config]="ckeConfig" ></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <!--<script>-->
  <!--  InlineEditor-->
  <!--    .create( document.querySelector( '#editor' ) )-->
  <!--    .catch( error => {-->
  <!--      console.error( error );-->
  <!--    } );-->
  <!--</script>-->
