.toolbar{
  height: 65px;
  background-color: white;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.13);
  border-top: 1px solid #eff2f5;
}
.header-menu{
  padding: 10px 15px 0px 12px;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.spann{
  height: 30px;
  font-size: 16px;

}
.control{
  margin-top:7px;
  color: black;
}
.control:hover{
  text-decoration: none;
}
.menu-item{
  padding-left: 20px;
  margin-top: 8px;
}
.custom-select{
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-control{
  padding-left: 20px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  margin-top:7px;
}
.inputt{
  margin-left: 0px;
  height: 30px;
  margin-top:7px;
}

/*-------------------------------------------------------------*/
.box-icon{
  background-color: #009dff;
  color: whitesmoke;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}
.box{
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #eee;
}
.close{
  position: absolute;
  top: -10px;
  right: 0;
  color: #fff;
  z-index: 1000;
}
.close .x{
  border: 0;
  width: 35px;
  height: 35px;
  padding: 0;
  background: #f00;
  border-radius: 50%;
}
.customer-control{
  padding-bottom: 10px;
  padding-top: 120px;
  height: 100vh;
}
.text-input{
  border: 2px solid #50b848;
  color: black;
}
.text-input:focus{
  color: black;
  border: 2px solid #50b848;
}
.input{
  margin-top: 70px;
  padding: 0px 20px 20px 20px;
}


.iconn{
  font-size: 25px;
  color: aliceblue;
}
.box-content{
  margin-bottom: 10px;
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.__title{
  letter-spacing: -.4px;
  align-content: center;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
}
.pricing-table__footer{
  padding-top: 50px;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.edit{
  justify-items: center;
  text-align: center;
  font-weight: bolder;
  color: #50b848;
}
.edit:hover{
  color: #212c32;
}


a:hover{
  text-decoration: none;
}

.news-thumb-image{
  width: 100%;
  height: 100px;
  border: 1px solid black;
}

.news-thumb-image img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
