<div class="toolbar">
  <div class="d-flex  justify-content-between header-menu ">
    <div class="left-d-flex">
      <div class="d-flex">
        <a class="control" style="width: 80px" routerLink="../customer"  routerLinkActive="active"><span style="font-weight: bold;" class="spann">Mục tiêu /</span></a>
        <a class="control"  style="width: 80px" routerLink="../customer/cus-typical" routerLinkActive="active"  ><span class="spann">Tiêu biểu</span></a>
        <input type="text " class="form-control "  placeholder="Viết gì đó ...">
        <div class="input-group-append inputt" >
          <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="right-d-flex">
      <div class="d-flex  flex-wrap">
        <div class="menu-item ">
          <div class="d-flex">
            <span class="fw-semibold mr-1">Số mục mỗi trang:</span>
            <select class="custom-select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
        </div>
        <div class="menu-item">
          <!--          (click)="addTypicalNum()"-->
          <a class="ht-btn-custom" (click)="addCustomer()"  title="Thêm tin mới"><i class="fas fa-file-plus fa-lg"></i></a>
        </div>

      </div>
    </div>

  </div>
</div>



<div class="customer-control" >
  <div >
    <div>
      <div class="container">
        <div class="contact-inner" >
          <div class="row" style="padding-left: 50px; padding-right: 50px"  >
            <div *ngFor="let cus of customer" class="col-md-3" >
              <div class="box">
                <div class="close">

                  <button type="button" (click)="deleteCustomer(cus.id)" class="x">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
                <div class="box-icon" [ngStyle]="{'background': cus.bgIColor}">
                  <span><i class="{{cus.icon}}"></i></span>
                </div>
                <div class="box-content">
                  <h5 class="__title">{{cus.name}}</h5>
                  <div style="vertical-align: inherit;"><span>{{cus.description}}</span>
                    </div>
                    <div class="pricing-table__footer">
                      <a (click)="updateCustomer(cus.id)" class="edit" style="font-size: larger;">Chỉnh Sửa　⇨</a>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="customer-control">-->
<!--<div class="row pricing-table-one">-->
<!--  &lt;!&ndash; chính phủ &ndash;&gt;-->
<!--  <div class="col-12 col-md-6 col-lg-6 col-xl-3 pricing-table pricing-table&#45;&#45;popular ">-->
<!--    <div class="pricing-table__inner">-->
<!--      <div class="pricing-table__header">-->
<!--        <div class="box-icon">-->
<!--          <span><i class="far fa-bank"></i></span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="box-content">-->
<!--        <h5 class="pricing-table__title">Tiêu Đề</h5>-->
<!--        <div style="xvertical-align: inherit;">-->
<!--          Nội Dung</div>-->
<!--      </div>-->
<!--      <div class="pricing-table__footer">-->
<!--        <a href="" class="quantam" style="font-size: larger;">Chỉnh Sửa　⇨</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--</div>-->
