.formcustomeradd{
    margin-top: 30px;
}
.title-span{
    font-size: 18px;
}
 .image{
    position: relative;
    height: 210px;
    width: 100%;
  }
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
.icon{
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #eee;
    height: 200px;
}
.box-icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    font-size: 48px;
    line-height: 100px;
    text-align: center;
    background-color: #009cff;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease 0s;
    -moz-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
}
.change-color{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 20px;
    height: 22px;
    padding: 0;
}
.input-icon{
    padding: 30px 5px 10px 0px;

}
.input-text{
    background: #fff;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #50B848;
    border-radius: 5px;
    padding: 0 10px;
    height: 45px;
}
.cancel{
    background-color: #cccccc;
  
  }
  .cancel:hover{
    background-color: rgba(43, 43, 63, 0.85);
  }
  .btnn {
    margin-right: 15px;
  
  }
  

 