<form class="formcustomeradd">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-inner">
                    <span><strong>Khách Hàng</strong></span>
                    <input type="text" >
                </div>
                <div class="contact-inner ">
                    <span><strong>Mô Tả</strong></span>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="contact-inner">
                    <span><strong>Sản Phẩm</strong></span>
    
                    
                </div>
            </div>
            <div class="col-lg-8"></div>
        </div>
    </div>
</form>