/* .header-area.is-sticky  */
.container-fluid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;

    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #000000a8;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px) {
    .container-fluid--cp-150 {
      position: relative;
    }
  }

.title_header{
  padding-top: 10px;
  font-size: 15px;
}
.title_head{
  padding: 10px 5px 10px 5px;
}
.submenu{
  padding-top: 0px;
  padding-bottom: 0px
}
.item-li{
  color: #50b848;
}
.item-li:hover{
  color: white;
  background-color: #50b848;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.header__navigation .navigation-menu > ul > li > a {
  padding: 5px 15px;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.list-inline{
    padding-top: 18px;
    position: absolute;
     right: 200px;
     top: 5px;
     color: rgb(240, 255, 245);
}


#timkiem{
  margin-top: 5px;
}
a:hover{
  text-decoration: none;
}


