.toolbar{
  height: 65px;
  background-color: white;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.13);
  border-top: 1px solid #eff2f5;
}
.header-menu{
   padding: 10px 15px 0px 12px;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.h55{
  font-weight: bolder;
  font-size: 18px;
  color: black;
}
.menu-item{
  padding-left: 20px;
  margin-top: 8px;
}
.custom-select{
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.title-conten{
  text-align: center;
  padding: 40px 0px 20px 0px;
}
.text-title{
  color: #50b848;
  font-family: vi;
}
.hr{
  width: 150px;
  background-color: #50b848;
  font-weight: bolder;
}

.action-box {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 1000;
}
.number-icon{
  margin-top: 20px;

}
.btnn{
  border: 0px ;
  width: 27px;
}
.btnn:hover{
  background-color: rgba(82, 75, 143, 0.4);
}
.content-box{
  font-weight: bolder;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;

}
.itemm{
  padding-bottom: 15px;
  color: #50b848;
  font-size: 25px;
}

