.toolbar{
    height: 65px;
    background-color: white;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.13);
    border-top: 1px solid #eff2f5;
  }
  .header-menu{
    padding: 10px 15px 0px 12px;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  
  .spann{
    height: 30px;
    font-size: 16px;
  
  }
  .control{
    margin-top:7px;
    color: black;
    
  }
  .menu-item{
    padding-left: 20px;
    margin-top: 8px;
  }
  .custom-select{
    width: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .form-control{
    padding-left: 20px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-top:7px;
    margin-left: 10px;
  }
  .inputt{
    margin-left: 0px;
    height: 30px;
    margin-top:7px;
  }
  a:hover{
    text-decoration: none;
  }

  .slide{
    margin-top: 50px;
  }

  .view-control{
    background-color: #45b741c7;
  }

  .item{
    padding-top: 50px;
    padding-bottom: 50px;
  }


  /*  */
  .select-content-box{
    padding: 20px;
  }
  .select-content-item{
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px dotted #000;
  }
  .select-content-item span:first-child{
    width: 80px;
    white-space: nowrap;
  }

  .action-box{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
  }
  .action-box .btn{
    width: 100%;
  }
  
  .image-url{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4px;
  }
  