.col-lg-4 {
  padding: 0px 0px 0px 0px;

}
.col-lg-8 {
  padding: 0px 0px 0px 0px;
}
.login{
  text-align: center;
}

.input{
  width: 100%;
  height: auto;
  padding: 20px 10px 20px 10px;
  text-align: center;
}

.text{
  text-align: center;
  color: #50b848;
  font-weight: bolder;
}
img{
  width: 100%;
}
