
<!--====================  header- area ====================-->

<!---->
<div class="d-flex justify-content-between " style="padding-top: 10px">
  <div class="" style="justify-content: center">
    <div class="head-menu-headeradmin">
      <div class="header-left-headeradmin">
        <span class="text-headeradmin" >{{today}}, {{day}}/{{month}}/{{year}}</span>
        <span > Trợ Giúp</span>
      </div>

    </div>

  </div>
  <div class="dropdown " >
    <button class="btn btn-primary dropdown-toggle button-headeradmin" type="button" data-toggle="dropdown">Menu</button>
    <ul class="dropdown-menu" >
      <li class="dropdown-item item-btn-headeradmin" routerLink="about" routerLinkActive="active">Về chúng tôi</li>
      <li class="dropdown-item item-btn-headeradmin" routerLink="albums" routerLinkActive="active">Kho ảnh</li>
      <li class="dropdown-item item-btn-headeradmin border-top-drak" (click)="logout()" >Đăng xuất</li>
    </ul>
  </div>
</div>

<hr style="margin-bottom:0px ">





