.chuyenmuc{
  text-align: center ;
  font-size: 30px;
  margin-top: 20px;
  font-family: Verdana;
  font-weight: bold;
  color: #50b848;
}
#gachchan{
  width: 100px;
  margin-top: 20px;
  border-top: 1px solid rgb(0, 0, 0);
}
