.toolbar{
    height: 65px;
    background-color: white;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.13);
    border-top: 1px solid #eff2f5;
  }
  .header-menu{
    padding: 10px 15px 0px 12px;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
  
  .spann{
    color: #0d0d0d;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    width: 80%;
  }

  .menu-item{
    padding-left: 20px;
    margin-top: 8px;
  }
  .custom-select{
    width: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .item-blog{
    margin-top: 30px;
  }
  .form-control{
    height: 30px;
    font-size: 15px;
    margin-top:7px;
  }
  .inputt{
    margin-left: 0px;
    height: 30px;
    margin-top:7px;
  }
  .action-box {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    color: #fff;
  }
  .btnn{
    border: 0px;
    width: 50px;
    height: 100px;
  }

  /*  */
  .blog-pages-wrapper{
    margin-top: 30px;
  }

  .wdc-input{
    width: 100%;
    /*height: 95%;*/
  }
  .wdc-input img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  