
<div class="toolbar">
    <div class="d-flex justify-content-between ">
        <div class="d-flex justify-content-start  head">
            <h5 class="h5">Nhật Ký</h5>
            <div class="mr-1  item-select" >
                <select class="custom-select" style="width: 120px" >
                  <option value="" [selected]="true">Phương thức</option>
                  <option>POST</option>
                  <option>GET</option>
                </select>
              </div>
              <div class="mx-1  item-select">
                <select class="custom-select" style="width: 120px" >
                  <option value="" [selected]="true">Hoạt động</option>
                  <option>CREATE</option>
                  <option>UPDATE</option>
                  <option>DELETE</option>
                </select>
              </div>
              <div class="mx-1  item-select">
                <select class="custom-select" style="width: 120px" >
                  <option value="" [selected]="true">Người thực hiện</option>
                  <option >người 1</option>
                </select>
              </div>
              <div class="mx-1  item-select">
                <select class="custom-select" style="width: 120px" >
                  <option value="" [selected]="true">Trang</option>
                </select>
              </div>
              <div class="ml-2  item-select icon-head" >
                <a class="ht-btn-custom p-action-btn hint--rounded hint--bounce hint--bottom-left" aria-label="Lọc">
                  <i class="far fa-filter fa-lg"></i>
                </a>
              </div>
              <div class="ml-3  item-select icon-head" >
                <a class="ht-btn-custom p-action-btn hint--rounded hint--bounce hint--bottom-left" aria-label="Đặt lại">
                  <i class="far fa-undo-alt fa-lg"></i>
                </a>
              </div>
              <form (change)="search() " class=" item-select ml-1" >
                <select class="custom-select " style="width: 120px">
                  <option value="" [selected]="true">Sắp xếp theo</option>
                  <option value="date">Thời gian</option>
                  <option value="method">Phương thức</option>
                  <option value="page">Trang</option>
                  <option value="user">Người thực hiện</option>
<!--                  <option value="price-desc">Tham số</option>-->
                  <option value="type">Hoạt động</option>
                </select>
              </form>
              <div class="ml-1 item-select icon-head" >
                <a class="ht-btn-custom">
                  <i class="far fa-sort-alpha-down fa-lg"></i>
                </a>
              </div>
              <div class="ml-2 item-select icon-head" >
                <a class="ht-btn-custom">
                  <i class="far fa-sort-alpha-up fa-lg"></i>
                </a>
              </div>
        </div>
        <div class="d-flex  flex-wrap head">
            <div class="menu-item ">
              <div class="d-flex">
                <span class="mr-1 " style="text-align: center; display: flex; margin-top: 5px; margin-bottom: 5px;">Số mục mỗi trang:</span>
                <select class="custom-select">
                  <option>10</option>
                  <option>20</option>
                  <option>30</option>
             
                </select>
              </div>
            </div>
        </div>
    </div>

</div>


<div class="section-space--ptb_90">
<div class="container">
  <div class="detail">
      <table class="table table-striped" id="myTable">
        <thead>
          <tr style="font-weight: bold;">
            <td>Thời gian</td>
              <td>Phương thức</td>
              <td>Trang</td>
              <td>Người thực hiện</td>
              <td>Tham số</td>
              <td>Hoạt động</td>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td scope="row">date</td>
              <td>method</td>
              <td>page</td>
              <td>executor</td>
              <td>queryString</td>
              <td>type</td>
            <td>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
</div>
</div>

