<div class="container">
    <div class="">
        <div class="row">
            <div class="col-lg-8">
                <div class="update_box">
                    <span><strong>Ảnh bìa</strong></span>
                    <div class="image">
                      <img  src="{{url}}" alt="" appHideMissing>
                    </div>
                    <input type="file" value="select" (change)="imageChange($event)">
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="update_box">
                    <h3 style="color: #37bd3e; margin-top: 0px;">Thông tin</h3>
                    <input type="text"  name="" placeholder="liên kết">

                </div>
                <div class="submit-button">
                    <button type="submit" class="btn btn-primary btn-lg btnn">Lưu</button>
                    <a href="admin/slide" ><button type="button" class="btn btn-secondary btn-lg btnn cancel"  >Hủy</button></a>
                  </div>
            </div>
        </div>
    </div>
</div>